body {
    background-image: url('../img/testeFundo.png');    
    background-size: cover;
    backface-visibility: visible;
    position: relative; /* Adicione isso para permitir o posicionamento do overlay */
}

/* Adicione um novo elemento para representar o overlay */
.overlay {
    position: fixed; /* Altere para "fixed" para cobrir toda a janela de visualização */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de opacidade */
    z-index: 2; /* Certifique-se de que o overlay esteja sobre o conteúdo */
}

header {
    text-align: center;
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin-top: 80px;
    z-index: 2; /* Certifique-se de que o cabeçalho esteja acima do overlay */
}
.all-first {
    position: relative;
    display: flex;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
    margin-left: 60px;
    z-index: 2; /* Certifique-se de que o conteúdo esteja acima do overlay */
}

.one {
    background-color: rgba(255, 255, 255, 0.774);
    height: 200px;
    width: 400px;
    padding-left: 10px;
}

.one2 {
    background-color: rgba(255, 255, 255, 0.774);
    height: 200px;
    width: 400px;
    margin-left: 40px;
}

.one3 {
    background-color: rgba(255, 255, 255, 0.774);
    height: 200px;
    width: 400px;
    margin-left: 40px;
}

.one4 {
    background-color: rgba(255, 255, 255, 0.774);
    height: 200px;
    width: 400px;
    margin-left: 40px;
}
